body {
background-image: url("images/starfield.jpg");
background-color: #040440;
color: white;
}

#.myframe {
#color: white;
#}


.maindiv {
font-size: larger;
font-family: Arial, Helvetica, sans-serif;
}

.footdiv {
border-top: 4px dotted white;
}